<!-- header -->
<%= render 'partial/header' %>

<!-- main -->
<main>
  <!-- main slider -->
  <div class="slicker">
  <div>
    <%= image_tag 'img_front01.png', class:'ab-slick' %>
  </div>
  <div>
    <%= image_tag 'img_front02.jpg', class:'ab-slick' %>
  </div>
  <div>
    <%= image_tag 'img_front03.png', class:'ab-slick' %>
  </div>
</div>
</main>
