/* variable */
$main_color: #4EA6CC;

/* reset style */
*{
  box-sizing: border-box;
}
body, html{
  margin: 0;
  font-size: 62.5%;
}
ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1, h2, h3{
  margin: 0;
}
a{
  text-decoration: none;
  color: #333;
}


/* common class */
.flex{
  display: flex;
}
.wrap{
  padding: 20px 10px;
}
.font_bold{
  font-weight: bold;
}
