/* variable */
$main_color: #4EA6CC;  //サイトメインカラー
$main_color_thin: #8AD8FF; // サイトメインカラー薄目

/* reset style */
*{
  box-sizing: border-box;
}
body, html{
  margin: 0;
  font-size: 62.5%;
}
ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1, h2, h3{
  margin: 0;
}
a{
  text-decoration: none;
  color: #333;
}


/* common class */
.flex{
  display: flex;
}
.wrap{
  padding: 20px 10px;
}
.font_bold{
  font-weight: bold;
}
.section_heading{
  font-size: 2.4rem;
  font-weight: bold;
  color: #333;
  width: fit-content;
}
.section_separation{
  border-top: 1px solid #8c8b8b;
}
.notice_message{
  background-color: #b6e355;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  padding: 10px;
}
.alert_message{
  background-color: #e38055;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  padding: 10px;
}
